countries/countries-by-region.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="countries-by-region">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="countries" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:attribute name="region" type="xs:string" use="required"/>
                        <xs:attribute name="count" type="xs:nonNegativeInteger" use="required"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>